* {
    font-family: "Montserrat", sans-serif;
    color: #3c1053;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0rem;
}

main {
   
   text-align: center;
}

#form{
    text-align: center;
}

h1 {
    font-size: 2.5rem;

    text-align: center;
}



.label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}


input {
    display: block;
    margin: auto;
    height: 30px;
    width: 210px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: white;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #654ea3, #eaafc8);
    transition: 0.2s;
}

button:hover {
    transform: scale(1.2);
}

.label .label-num{
    padding-top: 5rem;

}

p{
    text-align: center;
    font-weight: bold;
    max-width: 500px;
    margin:auto;
    padding:1rem 0.5rem;
    border-radius: 10px;
    background-color: red;
    justify-content: center;
    color:white;
}

.footer{
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    text-align: center;
    font-size: larger;
    background-color: #D1D5DB;
    max-width:500px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}
.footer-header{
    font-weight: bold;

}

.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;

}
.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
   
}

a{
    text-decoration: none;
}

.output{
    padding-bottom: 1rem;
}